@{
    ViewBag.Title = "About";
}

<div  style="height:500px">
    <div class="card mb-5 mt-5 align-items-center">
        <div class="row g-0">
            <div class="col-md-4" style="overflow:hidden">
                <img src="~/Content/img/bg-image.jpg" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Page Reader</h5>
                    <p class="card-text pt-2">
                        List all images from the target URL and show them to the user in a carousel or gallery control of some kind (borrow from the internet or write your own).
                    </p>
                    <p class="card-text"> Count all the words (display the total) and display the top 10 occurring words and their count (either as a table or chart of some kind, again you choose or write your own)</p>
                </div>
            </div>
        </div>
    </div>
</div>