
@{
    ViewBag.Title = "Error";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>5<span>0</span>5</h1>
        </div>
        <p>Oops, something went wrong.Try to refresh this page or feel free to contact us.</p>
        <a href="/">home page</a>
    </div>
</div>